$color: #1890ff;
.bui-m-tab {
	.tabs-title {
		border-bottom: 1px solid #ddd;
	}
	.tabs-nav {
		overflow: hidden;
		li {
			display: block;
			float: left;
			position: relative;
			font-size: .16rem;
			text-decoration: none;
			margin-bottom: -1px;
			a {
				display: block;
				padding: .1rem .15rem;
				position: relative;
				border: 1px solid transparent;
				cursor: pointer;
				&.active{
					color: $color;
					font-weight: bold;
				    border-bottom: .02rem solid $color;
				    border-radius: .02rem;
				    cursor: default;
				}
			}
		}
	}
	.tabs-active-content {
		font-size: .16rem;
		margin: .1rem 0;
	}
}
.bui-m-tab-vertical {
	overflow: hidden;
	height: auto;
	.tabs-title {
		float: left;
		width: .8rem;
		height: auto;
		border-bottom: none;
		text-align: center;
	}
	.tabs-nav {
		li {
			float: none;
			a:hover {
				background-color: $color;
				color: #fff;
			}
			a.active{
					color: #fff;
					font-weight: bold;
				    background-color: $color;
				    border-radius: .02rem;
				    cursor: default;
				}
		}
	}
	.tabs-active-content {
		margin-left: 1rem;
	}
}

