.bui-calendar {
	position: relative;
	float: left;
	z-index: 10;
	.calendar-main{
		&.hide{
			display: none;
		}
	}
}
.input-wrap{
	display: inline-block;
}
.calendar-header{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	em{
		padding: 0 10px;
		cursor: pointer;
		font-family: '宋体';
		font-style: normal;
		font-weight: bold;
	}
}
.calendar-main{
	border: 1px solid #ccc;
	width: 427px;
	color: #333;
	position: absolute;
	top: 19px;
	left: 0;
	background: #fff;
}
.calendar-table-header{
	height: 58px;
	padding: 0 10px;
	span{
		float: left;
		width: 58px;
		height: 58px;
		line-height: 58px;
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		&:first-child,&:last-child{
			color:red;
		}
	}
}
.calendar-table-body{
	padding: 10px;
	overflow: hidden;
	li{
		list-style:none;
		float: left;
		width: 58px;
		height: 58px;
		line-height: 58px;
		text-align: center;
		font-size: 14px;
		cursor: pointer;
		a{
			color: #333;
			text-decoration: none;
			width: 58px;
			height: 58px;
			display: block;
			&.today{
				color: red;
			}
			&:hover{
				background: #ebfaff;
			}
			&.current{
				color: #fff;
				background: #3fc7fa;
			}
			&.gray{
				color: #ddd;
				cursor: default;
				&:hover{
					background:#fff;
				}
			}
			&.disabled{
				color: #bbb;
				background: #f3f3f3;
				cursor: not-allowed;
			}
			&.not-show{
				&:hover{
					cursor:default;
					background: #fff;
				}
			}
		}
		&:nth-child(7n+1),&:nth-child(7n){
			a{
				color: red;
				&.current{
					color: #fff;
					background: #3fc7fa;
				}
				&.gray{
					color: #ddd;
					&:hover{
						background:#fff;
					}
				}
				&.disabled{
					color: #bbb;
					background: #f3f3f3;
					cursor: not-allowed;
				}
				&.not-show{
					&:hover{
						cursor:default;
						background: #fff;
					}
				}
			}
		}
	}
}