.bui-button {
    display: inline-block;
    border-radius: 4px;
    background: #0076ff;
    border: 1px solid #0076ff;
    color: #fff;
    font-size: 14px;
    text-align: center;
    min-width: 60px;
    &:hover {
        color: #fff;
    }
    &.bui-button-s {
        padding: 2px 5px;
    }
    &.bui-button-m {
        padding: 6px 12px;
    }
    &.bui-button-l {
        padding: 10px 20px;
    }
}