.bui-mask {
	position: fixed;
    background: rgba(0,0,0,.5);
    height:100%;
    max-width: 100%;
    width:100%;
    left:0;
    top:0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
