@import './_web_variable.scss';
body {
    margin: 0;
    padding: 0;
    background: url(i/bg.jpg) no-repeat;
    background-size: 1920px 1500px;
}
.w {
    width: 1210px;
    margin: 0 auto;
}
.header {
    height: 60px;
    svg {
        padding: 10px 0;
        height: 40px;
        transition: .5s all;
        &:hover {
            transform: scale3d(1.2,1.2,1.2);
        }
    }
}
.banner {
    .bg {
        position: relative;
        height: 520px;
        background:url(i/i-pic.png) no-repeat;
        background-position: right bottom;
    }
    .welcome {
        // position: absolute;
        margin-top: 140px;
        left: 0;
        width: 434px;
        height: 125px;
        background: url(i/i-wel.png) no-repeat;
    }
    .txt {
        margin-top: 30px;
        p {
            margin: 0;
            line-height: 30px;
            font-size: 14px;
            color: #999;
        }
    }
    .btn {
        display: inline-block;
        cursor: pointer;
        padding: 0 40px;
        margin-top: 40px;
        height: 36px;
        font-size: 16px;
        line-height: 36px;
        border: 1px solid $mainColor;
        color: $mainColor;
        border-radius: 36px;
        text-decoration: none;
        transition: .5s all;
        &:hover {
            color: #fff;
            background: $mainColor;
        }
    }
}
.feature {
    margin-top: 50px;
    .fea-con {
        height: 300px;
        padding: 0;
        margin: 0;
    }
    .mlf {
        margin: 0 110px;
    }
    .item {
        float: left;
        height: 300px;
        width: 230px;
        padding: 0 45px;
        list-style: none;
        text-align: center;
        border-radius: 5px;
        transition: 1s all;
        b {
            display: inline-block;
            margin-top: 60px;
            background: url(i/i-fea.png) no-repeat;
            filter: grayscale(100%);
        }
        h3 {
            margin: 15px 0 30px;
            font-size: 18px;
            font-weight: normal;
            color: #333;
        }
        .desc {
            line-height: 26px;
            text-align: left;
            font-size: 14px;
            color: #666;
        }
        .i1 {
            width: 48px;
            height: 48px;
            background-position: 0 0;
        }
        .i2 {
            width: 48px;
            height: 48px;
            background-position: -57px -1px;
        }

        .i3 {
            width: 48px;
            height: 48px;
            background-position: -110px -1px;
        }
        &:hover {
            box-shadow: $boxshadow;
            b {                
                filter: grayscale(0%);
            }
        }

    }
}
.footer {
    margin-top: 120px;
    .hh {
        height: 205px;
    }
    .m {
        float: left;
        width: 300px;
        &.q {
            width: 110px;
            text-align: center;
        }
    }
    .mt {
        margin-bottom: 20px;
        font-size: 14px;
        p{
            margin: 0;
            color: #333;
        }
        span {
            display: inline-block;
            margin-top: 3px;
            color: #999;
        }
    }
    .mc {
        .jdc {
            margin: 0 0 10px;
            background: url(i/jdc.png) no-repeat;
            height: 12px;
            width: 58px;
        }
        a {
            cursor: pointer;
            display: block;
            line-height: 30px;
            font-size: 12px;
            color: #333;
            text-decoration: none;
        }
        span {
            display: block;
            font-size: 12px;
            color: #333;
            line-height: 20px;
        }
    }
    .qrcode {
        display: inline-block;
        width: 110px;
        height: 110px;
        background: url(i/qrcode.jpg) no-repeat;
        background-size: 100% 100%;
        box-shadow: $boxshadow;
        transition: 1s all;
        &:hover {            
            box-shadow: $boxshadowhover;
        }
    }
    .qrcode-txt {
        color: #999;
        font-size: 12px;
    }
    .footer-f {
        display: block;
        height: 90px;
        line-height: 90px;
        text-align: center;
        font-size: 12px;
        color: #999;
    }
}