$rColor: #e3122a;
.input {
	position: relative;
	margin: .15rem 0;
	ul {
		display: none;
		position: absolute;
		//top: .3rem;
		//right: 0;
		width: 2.25rem;
		max-height: 2rem;
		background: #fff;
		font-size: .13rem;
		border: 1px solid #c3c3c3;
		border-top: none;
		border-radius: 0 0 .02rem .02rem;
		z-index: 9;
		overflow-y: auto;
		font-size: .12rem;
		li {
			height: .3rem;
			line-height: .3rem;
			padding-left: .1rem;
			border-bottom: 1px solid #c3c3c3;
			&:hover {
				background-color: #ade1f6;
				color: #fff;
			}
		}
		li:first-child {
			background-color: #ade1f6;
			color: #fff;
		}
		li:last-child {
			border-bottom: none;
		}
		&.show {
			display: block;
		}
	}
	label {
		flex: 1;
		-webkit-flex: 1;
		display: inline-block;
		line-height: .28rem;
		font-size: .13rem;
		color: #333;
		em {
			margin-right: .05rem;
			color: $rColor;
			font-weight: 700;
			vertical-align: middle;
			&.em-color {
				color: #fff;
			}
		}
	}
	.label-info {
		display: inline-block;
		line-height: .3rem;
		font-size: .13rem;
		color: #333;
		max-width: 2rem;
	    word-wrap: break-word;
	}
	input {
		display: inline-block;
		width: 2.15rem;
		padding: .05rem 0 .05rem .1rem;
		height: .2rem;
		line-height: .2rem;
		border: 1px solid #c3c3c3;
		border-radius: .02rem;
		font-size: .12rem;
		outline: none;
	}
	::-webkit-input-placeholder {
	    color: #999;
	}

	::-moz-input-placeholder {
	    color: #999;
	}

}